# Prerequisites
*.d

# Compiled Object files
bin_*
docs/
movieRecommendation/.gdb_history
.vscode/
/build/
/CMakeFiles/
cmake_install.*
CMakeCache.*
Makefile
.vscode

*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
