# Prerequisites
*.d

# Compiled Object files
movieRecommendation/bin_*
docs/
movieRecommendation/.gdb_history
.vscode/
movieRecommendation/build/
movieRecommendation/CMakeFiles/
movieRecommendation/cmake_install.*
movieRecommendation/CMakeCache.*
movieRecommendation/Makefile
movieRecommendation/.vscode

*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
